doctype html(lang='en')
head
		title Question Editor
		link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href='/stylesheets/style.css' rel='stylesheet')
		link(rel='stylesheet', href='/fonts/font-awesome/css/font-awesome.min.css')
		style(type='text/css', media='screen').
			#editor {
			height:100%;
			}
	body(style="overflow:hidden")
		#editor.col-md-8 #{potongan_kode}
		
		#result.col-md-4
			#detail_siswa Logged as
				strong  #{nama}
			
			#run #{soal} 
				#submitButton

					button.submitButton(class="", data-toggle="modal", data-target="#hintModal") Bantuan

			#compile
				#compileButton
					input(type="hidden", name="soal_id", value="#{soal_id}")
					input(type="hidden", name="siswa_id", value="#{siswa_id}")
					button.compileButton() COMPILE & RUN

			#run
				#runResponse 
				#submitButton
					button.submitButton(disabled) OUTPUT
			#submit

		
	.modal.fade#hintModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
		.modal-dialog
			.modal-content
				.modal-header
					button(class="close", type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") &times;
					h4(class="modal-title")#myModalLabel Hint

				.modal-body !{bantuan}
				.modal-footer
					button(type="button",  data-dismiss="modal", class="btn btn-default") Close

		script(src='/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
		script.
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/monokai");
			editor.setFontSize(16);
			editor.getSession().setMode("ace/mode/#{langCode}");
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		|     
		script(src='/javascripts/bootstrap.min.js')
		script(src="/javascripts/jquery.js")
		script(src="/javascripts/compile.js")